/**
 *                _
 *   ____ _____  (_)
 *  / __ `/ __ \/ /
 * / /_/ / /_/ / /
 * \__,_/\____/_/
 * 
 * (c) Claudio Procida 2017-2024
 * 
 * @format
 */

@import 'variables';
@import 'base';

/*doc
---
title: Button
name: btn
category: controls
---
Use the `btn` class on `<button>` or `<input type="button">` elements.

```html_example_table
<input type="button" class="btn" value="Button"/>

<button class="btn">Button</button>
```
*/

/*doc
---
title: Large Button
name: btn-large
category: controls
---
Add the `btn-large` class to other button classes to obtain a larger affordance.

```html_example_table
<input type="button" class="btn btn-large" value="Button"/>

<button class="btn btn-large">Button</button>
```
*/

/*doc
---
title: Small Button
name: btn-small
category: controls
---
Add the `btn-small` class to other button classes to obtain a smaller affordance.

```html_example_table
<input type="button" class="btn btn-small" value="Button"/>

<button class="btn btn-small">Button</button>
```
*/

/*doc
---
title: Colored Buttons
name: btn-colored
category: controls
---
Add the `accent`, `danger`, `warning`, `info`, or `success` classes to a button
to give the button a special semantic cue.

```html_example_table
<button class="btn accent">Button</button>

<button class="btn danger">Button</button>

<button class="btn warning">Button</button>

<button class="btn info">Button</button>

<button class="btn success">Button</button>
```
*/

@mixin active-focused {
  outline: none;
  border-color: $dark-gray;
  box-shadow: 0 0 3px 1px $light-accent;
  // border-color: $medium-accent;
}

@mixin base-btn {
  transition: box-shadow 0.2s ease-in;
  background-color: $white;
  border: $border-size solid $light-gray;
  border-radius: $border-radius;
  padding: 6px 12px;

  &:hover {
    background-color: $lightest-gray;
    border-color: $medium-gray;
  }

  &:focus {
    @include active-focused;
    background-color: $lightest-gray;
    border-color: $medium-gray;
  }

  &:active {
    @include active-focused;
    background-color: $light-gray;
  }
}

.btn {
  @include base-btn;

  @include active-levels;

  @include active-colors;

  &.btn-large {
    font-size: 1.2rem;
    padding: 8px 16px;
  }

  &.btn-small {
    font-size: 0.9rem;
    padding: 4px 8px;
  }
}
