@import 'variables';
@import 'base';

/*doc
---
title: Button
name: btn
category: controls
---
Use the `btn` class on `<button>` or `<input type="button">` elements.

```html_example_table
<input type="button" class="btn" value="Button"/>

<button class="btn">Button</button>
```
*/

/*doc
---
title: Large Button
name: btn-large
category: controls
---
Add the `btn-large` class to other button classes to obtain a larger affordance.

```html_example_table
<input type="button" class="btn btn-large" value="Button"/>

<button class="btn btn-large">Button</button>
```
*/

/*doc
---
title: Small Button
name: btn-small
category: controls
---
Add the `btn-small` class to other button classes to obtain a smaller affordance.

```html_example_table
<input type="button" class="btn btn-small" value="Button"/>

<button class="btn btn-small">Button</button>
```
*/
.btn {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: $border-radius;
  padding: 6px 10px 4px 10px;

  &:hover {
    background-color: $lightest-gray;
    border-color: $medium-gray;
  }

  @mixin active-focused {
    outline: none;
    border-color: $blue;
  }

  &:focus {
    @include active-focused;
    background-color: $lightest-blue;
  }

  &:active {
    @include active-focused;
    background-color: $light-blue;
  }

  &.btn-large {
  	font-size: 1.2rem;
    padding: 8px 16px 6px 16px;
  }

  &.btn-small {
  	font-size: 0.9rem;
    padding: 4px 8px 2px 8px;
  }
}
