/**
 *                _
 *   ____ _____  (_)
 *  / __ `/ __ \/ /
 * / /_/ / /_/ / /
 * \__,_/\____/_/
 * 
 * (c) Claudio Procida 2017-2024
 * 
 * @format
 */

@import 'variables';
@import 'base';

/*doc
---
title: Buttons
name: 1-buttons
category: buttons
---
Use the `btn` class on `<button>` or `<input type="button">` elements.

```html_example_table
<input type="button" class="btn" value="Button"/>

<button class="btn">Button</button>
```
*/

/*doc
---
title: Small buttons
name: 2-small-buttons
category: buttons
---
Add the `btn-small` class to other button classes to obtain a smaller affordance.

```html_example_table
<input type="button" class="btn btn-small" value="Button"/>

<button class="btn btn-small">Button</button>
```
*/

/*doc
---
title: Large buttons
name: 3-large-buttons
category: buttons
---
Add the `btn-large` class to other button classes to obtain a larger affordance.

```html_example_table
<input type="button" class="btn btn-large" value="Button"/>

<button class="btn btn-large">Button</button>
```
*/

/*doc
---
title: Huge buttons
name: 4-huge-buttons
category: buttons
---
Add the `btn-huge` class to other button classes to obtain an even larger affordance.

```html_example_table
<input type="button" class="btn btn-huge" value="Button"/>

<button class="btn btn-huge">Button</button>
```
*/

/*doc
---
title: Colorful buttons
name: 5-colorful-buttons
category: buttons
---
Add the `accent`, `danger`, `warning`, `info`, or `success` classes to a button
to give the button a special semantic cue.

```html_example_table
<button class="btn accent">Button</button>

<button class="btn danger">Button</button>

<button class="btn warning">Button</button>

<button class="btn info">Button</button>

<button class="btn success">Button</button>
```
*/

@mixin active-focused {
  border-color: $dark-gray;
  box-shadow: 0 0 3px 1px $light-accent;
  outline: none;
}

@mixin base-btn {
  background-color: $white;
  border: $border-size solid $light-gray;
  border-radius: $border-radius;
  padding: 6px 12px;
  transition: box-shadow 0.2s ease-in;

  &:hover {
    background-color: $lightest-gray;
    border-color: $medium-gray;
  }

  &:focus {
    @include active-focused;
    background-color: $lightest-gray;
    border-color: $medium-gray;
  }

  &:active {
    @include active-focused;
    background-color: $light-gray;
  }
}

.btn {
  @include base-btn;

  @include active-levels;

  @include active-colors;

  &.btn-small {
    font-size: 0.9rem;
    padding: 4px 8px;
  }

  &.btn-large {
    font-size: 1.2rem;
    padding: 8px 16px;
  }

  &.btn-huge {
    border-radius: 2 * $border-radius;
    font-size: 1.5667rem;
    height: 72px;
    padding: 16px 32px;
  }
}
