/** @format */

@import 'variables';
@import 'base';

/*doc
---
title: Table
name: table
category: tables
---
Use the `table` class on tables to apply a clean, borderless layout, and separate
headings from the body with a horizontal line.

```html_example
<table class="table">
    <tr>
        <th>One</th>
        <th>Two</th>
        <th>Three</th>
    </tr>
    <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
    </tr>
    <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
    </tr>
</table>
```
*/
.table {
	border-collapse: collapse;

	td,
	th {
		padding: 4px 8px;
	}

	th {
		font-weight: 500;
		border-bottom: 1px solid $light-gray;
	}

	/*doc
---
title: Striped Table
name: table-striped
category: tables
---
Use the `table-striped` modifier class on tables to apply a striped pattern to visually
separate rows.

```html_example
<table class="table table-striped">
    <tr>
        <th>One</th>
        <th>Two</th>
        <th>Three</th>
    </tr>
    <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
    </tr>
    <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
    </tr>
</table>
```

Adding a color class, e.g. `blue` or `plum`, to a `table-striped` table, you can customize
the color of stripes.

```html_example
<table class="table table-striped blue">
    <tr>
        <th>One</th>
        <th>Two</th>
        <th>Three</th>
    </tr>
    <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
    </tr>
    <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
    </tr>
</table>
```

```html_example
<table class="table table-striped red">
    <tr>
        <th>One</th>
        <th>Two</th>
        <th>Three</th>
    </tr>
    <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
    </tr>
    <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
    </tr>
</table>
```

```html_example
<table class="table table-striped plum">
    <tr>
        <th>One</th>
        <th>Two</th>
        <th>Three</th>
    </tr>
    <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
    </tr>
    <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
    </tr>
</table>
```
*/
	&.table-striped {
		tr:nth-of-type(2n) {
			background-color: $lightest-accent;
		}

		@each $color in accent, blue, green, red, amber, banana, raspberry, plum {
			&.#{'' + $color} {
				tr:nth-of-type(2n) {
					@include set-color($color, lightest);
				}
			}
		}
	}

	/*doc
---
title: Compact Table
name: table-compact
category: tables
---
Use the `table-compact` modifier class on tables to reduce the cell padding for a more compact layout.

```html_example
<table class="table table-compact">
    <tr>
        <th>One</th>
        <th>Two</th>
        <th>Three</th>
    </tr>
    <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
    </tr>
    <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
    </tr>
</table>
```
*/
	&.table-compact {
		td,
		th {
			padding: 2px 4px;
		}
	}
}
