@import 'variables';

$lightest-aoi: #79bccb;
$light-aoi: #29acb7;
$dark-aoi: #298597;


html, body {
  margin: 0;
  padding: 0;
}

html {
  background: $lightest-aoi url('../aoi_bg.jpg') no-repeat 0 100%;
  background-size: cover;
  min-height: 100%;
}

body {
  background-color: $white;
  margin-bottom: 20px;
}

a {
  color: $dark-aoi;
}

nav {
  border-bottom: 1px solid $dark-aoi;
  background: linear-gradient(90deg, $light-aoi 0%, $dark-aoi 100%);
  display: flex;

  ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    flex: 1 auto;
  }

  li {
    display: inline-block;
    
    a {
      display: block;
      box-sizing: border-box;
      height: 100%;
      padding: 23px 20px;
      color: $white;
      text-decoration: none;
      text-transform: capitalize;

      &:focus,
      &:hover {
        background-color: $dark-aoi;
      }
    }
  }
}

#logo {
  font-family: Menlo, sans-serif;
  color: $white;
  border-radius: 1000px;
  border: 5px solid $white;
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 0;
  text-align: center;
  margin: 10px;
}

main {
  background-color: $white;
  padding: 10px;
}

.codeTable {
  th, td {
    display: block;
  }
}

pre.hljs {
  border-radius: 4px;
  padding: .8em;
  white-space: pre-wrap;
}

h1 {
  text-transform: capitalize;
}

footer {
  a {
    color: $white;
  }
  
  p {
   margin: 0;
   padding: 10px;
   background-color: $lightest-aoi;
   text-align: center;
  }
}

ul.colors {
  padding: 0;
  display: flex;

  li {
    padding: 10px;
    font-size: 24pt;
    display: block;
    width: 60px;
    height: 60px;
    margin: 0;
  }
  .dark-gray{
    background-color: $dark-gray;
    color: $white;
  }
  .medium-gray{
    background-color: $medium-gray;
    color: $black;
  }
  .light-gray{
    background-color: $light-gray;
    color: $black;
  }
  .lightest-gray{
    background-color: $lightest-gray;
    color: $black;
  }
  .dark-blue{
    background-color: $dark-blue;
    color: $white;
  }
  .medium-blue{
    background-color: $medium-blue;
    color: $black;
  }
  .light-blue{
    background-color: $light-blue;
    color: $black;
  }
  .lightest-blue{
    background-color: $lightest-blue;
    color: $black;
  }
  .dark-green {
    background-color: $dark-green;
    color: $black;
  }
  .medium-green{
    background-color: $medium-green;
    color: $black;
  }
  .light-green{
    background-color: $light-green;
    color: $black;
  }
  .lightest-green{
    background-color: $lightest-green;
    color: $black;
  }
  .dark-red {
    background-color: $dark-red;
    color: $white;
  }
  .medium-red{
    background-color: $medium-red;
    color: $white;
  }
  .light-red{
    background-color: $light-red;
    color: $black;
  }
  .lightest-red{
    background-color: $lightest-red;
    color: $black;
  }
  .dark-amber {
    background-color: $dark-amber;
    color: $white;
  }
  .medium-amber{
    background-color: $medium-amber;
    color: $black;
  }
  .light-amber{
    background-color: $light-amber;
    color: $black;
  }
  .lightest-amber{
    background-color: $lightest-amber;
    color: $black;
  }
  .dark-accent {
    background-color: $dark-accent;
    color: $white;
  }
  .medium-accent{
    background-color: $medium-accent;
    color: $black;
  }
  .light-accent{
    background-color: $light-accent;
    color: $black;
  }
  .lightest-accent{
    background-color: $lightest-accent;
    color: $black;
  }
  .dark-plum {
    background-color: $dark-plum;
    color: $white;
  }
  .medium-plum{
    background-color: $medium-plum;
    color: $white;
  }
  .light-plum{
    background-color: $light-plum;
    color: $black;
  }
  .lightest-plum{
    background-color: $lightest-plum;
    color: $black;
  }
  .dark-raspberry {
    background-color: $dark-raspberry;
    color: $white;
  }
  .medium-raspberry{
    background-color: $medium-raspberry;
    color: $white;
  }
  .light-raspberry{
    background-color: $light-raspberry;
    color: $black;
  }
  .lightest-raspberry{
    background-color: $lightest-raspberry;
    color: $black;
  }
  .dark-banana {
    background-color: $dark-banana;
    color: $black;
  }
  .medium-banana{
    background-color: $medium-banana;
    color: $black;
  }
  .light-banana{
    background-color: $light-banana;
    color: $black;
  }
  .lightest-banana{
    background-color: $lightest-banana;
    color: $black;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 20px;
  }

  .codeTable {
    th, td {
      display: table-cell;
    }
  }

  pre.hljs {
    white-space: pre;
  }

  ul.colors {
    display: flex;

    li {
      padding: 20px;
      width: 120px;
      height: 120px;
      margin: 10px;
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 1024px;
    margin: auto;
  }
}
