@import 'variables';
@import 'base';

$lightest-aoi: #8ed3e1;
$light-aoi: #2d95a9;
$dark-aoi: #237383;


html, body {
  margin: 0;
  padding: 0;
}

html {
  background: $lightest-aoi url('../aoi_bg.jpg') no-repeat 0 100%;
  background-size: cover;
  min-height: 100%;
}

body {
  background-color: $white;
  margin-bottom: 20px;
}

a {
  color: $dark-aoi;
}

nav.sg {
  border-bottom: 1px solid $dark-aoi;
  background: linear-gradient(90deg, $light-aoi 0%, $dark-aoi 100%);
  display: flex;

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      background-color: $dark-aoi;
    }

    .txt {
      display: none;
    }

    .fa {
      font-size: 2rem;
    }
  }

  ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    flex: 1 auto;
  }

  li {
    display: inline-block;
    
    a {
      display: block;
      box-sizing: border-box;
      height: 100%;
      padding: 22px 10px 16px 10px;
      color: $white;
      text-transform: capitalize;
    }
  }
}

#logo {
  font-family: Menlo, sans-serif;
  color: $white;
  border-radius: 1000px;
  border: 5px solid $white;
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 0;
  text-align: center;
  margin: 10px;
}

main {
  background-color: $white;
  padding: 10px;
}

.exampleOutput {
  margin: 10px 0;
}

.codeTable {
  th, td {
    display: block;
  }
}

pre.hljs {
  border-radius: 4px;
  margin: 10px 0;
  padding: .8em;
  white-space: pre-wrap;
}

h1 {
  text-transform: capitalize;
}

footer {
  a {
    color: $white;
  }
  
  p {
   margin: 0;
   padding: 10px;
   background-color: $lightest-aoi;
   text-align: center;
  }
}

ul.colors {
  padding: 0;
  display: flex;

  li {
    padding: 10px;
    font-size: 24pt;
    display: block;
    width: 60px;
    height: 60px;
    margin: 0;
  }
}

@media screen and (min-width: 375px) {
  nav.sg {
    li {
      a {
        padding: 22px 17px 16px 17px;
      }
    }
  }
}

@media screen and (min-width: 425px) {
  nav.sg {
    li {
      a {
        padding: 22px 20px 16px 20px;
      }
    }
  }

  ul.colors {
    li {
      width: 80px;
      height: 80px;
    }
  }
}

@media screen and (min-width: 768px) {
  nav.sg {
    li {
      a {
        padding: 23px 20px;

        .txt {
          display: inline;
        }

        .fa {
          display: none;
        }
      }
    }
  }
  main {
    padding: 20px;
  }

  .codeTable {
    th, td {
      display: table-cell;
    }
  }

  pre.hljs {
    white-space: pre;
  }

  ul.colors {
    display: flex;

    li {
      border-width: 2px;
      border-style: solid;
      padding: 20px;
      width: 120px;
      height: 120px;
      margin: 10px;
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 1024px;
    margin: auto;
  }

  .exampleOutput {
    margin: 20px 0;
  }

  pre.hljs {
    margin: 20px 0;
  }
}
