{
	"cssDeclarationSorterOrder": "alphabetical",
	"endOfLine": "lf",
	"insertPragma": true,
	"plugins": ["prettier-plugin-css-order"],
	"printWidth": 120,
	"singleAttributePerLine": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"useTabs": false
}
